<div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarPerfilModalLabel">Editar Perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="edit_username" class="form-label">Nome de usuário:</label>
              <input type="text" class="form-control" id="edit_username">
            </div>
            <div class="mb-3">
              <label for="edit_email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="edit_email">
            </div>
            <div class="mb-3">
              <label for="edit_first_name" class="form-label">Primeiro nome:</label>
              <input type="text" class="form-control" id="edit_first_name">
            </div>
            <div class="mb-3">
              <label for="edit_last_name" class="form-label">Sobrenome:</label>
              <input type="text" class="form-control" id="edit_last_name">
            </div>
            <!-- Adicione aqui mais campos se necessário -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>